@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
}
*:focus-visible {
  border: initial;
  outline: initial;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
li,
ol {
  list-style: none;
}
body {
  font-family: "Lato", sans-serif;
}
.app__container {
  padding: 0 10%;
}
.mobile-only {
  display: none;
}
header {
  position: fixed;
  z-index: 9999;
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  font-weight: bold;
  text-transform: uppercase;
}
.desk-menu {
  display: flex;
  align-items: center;
}
nav a.menu-item {
  margin: 0px 10px;
  color: #fff;
  font-size: 12px;
  position: relative;
}
nav a.menu-item:after {
  content: "";
  width: 0px;
  height: 2px;
  background: #5357d1;
  position: absolute;
  display: block;
  left: 0px;
  margin-top: 5px;
  transition: width 0.5s;
}
nav a.menu-item:hover:after {
  width: 100%;
}
.header-btn-mutual {
  padding: 10px;
  color: #fff;
  border: 1px solid #fff;
  margin: 0px 10px;
  border-radius: 5px;
  font-size: 12px;
}
.header-btn-mutual:hover {
  background: #fff;
}
.header-btn-mutual:hover a {
  color: #000;
}
.header-btn-exchange select {
  padding: 10px;
  color: #fff;
  background: #e9364f;
  margin-left: 10px;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #e9364f;
  font-size: 12px;
}
.banner-slide {
  position: relative;
  height: 100vh;
}
.banner-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.banner-slide.banner-slide-1 {
  background: url("../images/banner-1.png") no-repeat;
  background-size: 100% 100%;
}
.banner-slide.banner-slide-2 {
  background: url("../images/banner-2.png") no-repeat;
  background-size: 100% 100%;
}
.banner-content p {
  color: #5357d1;
  text-transform: uppercase;
}
p.main-head {
  font-weight: normal;
  font-size: 48px;
}
p.head {
  font-weight: 900;
  font-size: 48px;
}
p.sub-head {
  font-size: 14px;
}
.banner-content p.sub-head {
  margin: 20px 0px;
}
p.invest-btn {
  margin-top: 25px;
}
p.invest-btn a {
  padding: 10px;
  background: #e9364f;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
}
.slick-dots {
  position: absolute;
  width: auto;
  bottom: 70px;
  padding-left: 10%;
  text-align: left;
}
.slick-dots li button:before {
  content: "";
  border: 1px solid #fff;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  opacity: 1;
}
li.slick-active {
  width: 175px;
  transition: width 0.5s;
}
.slick-dots li.slick-active button:before {
  opacity: 1;
  height: 0px;
  width: 175px;
  margin-top: 2.5px;
  background: #fff;
  border-radius: 0;
  transition: width 0.5s;
}
.slick-dotted.slick-slider {
  margin-bottom: 0px;
}
.news {
  background: #eef1f9;
  margin-top: -5px;
}
.news-cards {
  display: flex;
}
.news-card {
  width: 20%;
  padding: 25px 0px 25px 40px;
  border-right: 1px solid #0000001c;
  transition: transform 0.5s;
  border-radius: 5px;
  position: relative;
}
span.right-arrow {
  margin-left: 15px;
  color: #e41c3b;
}
.news-card:last-child {
  border-right: 0px;
}
.news-card:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
  color: #fff;
  background-image: linear-gradient(135deg, #91ebcd, #515dd9);
  border: 0px;
}
.news-card:hover span.right-arrow {
  color: #fff;
}
.news-card:before {
  position: absolute;
  left: 10px;
  content: "";
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 3px;
}
.news-card.circular:before {
  background-image: url(/images/circular.png);
}
.news-card.market-watch:before {
  background-image: url(/images/market-watch.png);
}
.news-card.bhav-copy:before {
  background-image: url(/images/bhav-copy.png);
}
.news-card.active-contracts:before {
  background-image: url(/images/active-contracts.png);
}
.news-card.top-gainers:before {
  background-image: url(/images/top-gainers.png);
}
.news-card.circular:hover:before {
  background-image: url(/images/circular-white.png);
}
.news-card.market-watch:hover:before {
  background-image: url(/images/market-watch-white.png);
}
.news-card.bhav-copy:hover:before {
  background-image: url(/images/bhav-copy-white.png);
}
.news-card.active-contracts:hover:before {
  background-image: url(/images/active-contracts-white.png);
}
.news-card.top-gainers:hover:before {
  background-image: url(/images/top-gainers-white.png);
}
p.card-head {
  font-size: 19px;
  font-weight: bold;
  color: #2f3293;
  text-transform: uppercase;
  height: 60px;
}
p.card-subhead {
  font-size: 14px;
  color: #495250;
  margin-bottom: 20px;
}
p.card-view-more {
  font-size: 14px;
  color: #495250;
}
.news-card:hover p.card-head,
.news-card:hover p.card-subhead,
.news-card:hover p.card-view-more {
  color: #fff;
}

.trade-icex {
  padding: 40px 0px;
  margin: 40px 0px;
}
.trade-card {
  border: 0.5px solid #0000001c;
  border-radius: 5px;
  box-shadow: 0em 0 0.4em #0000001c;
  display: flex;
}
.trade-card .left-content {
  width: 40%;
  padding: 30px;
  padding-right: 0px;
  padding-bottom: 40px;
  position: relative;
}

.trade-card h2.main-head {
  font-size: 30px;
  color: #5357d1;
  font-weight: bold;
  margin-bottom: 5px;
}
.trade-card p.sub-head {
  margin-bottom: 20px;
}
p.membership-type {
  font-size: 18px;
  font-weight: bold;
  color: #575757;
  margin-bottom: 20px;
}
.trade-card ul {
  padding-left: 15px;
  margin-bottom: 40px;
}
.trade-card ul li {
  list-style: "★";
  padding: 10px 0px;
  padding-left: 10px;
  cursor: pointer;
}
.trade-card ul li.active {
  color: #e41c3b;
}
.trade-card ul li:before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  background: #eee;
  margin-top: -10px;
}
.trade-card ul li:first-child:before {
  display: none;
}
p.become-member a {
  padding: 15px 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  color: #e81c3c;
  border: 2px solid #e81c3c;
  border-radius: 5px;
}
p.become-member a:hover {
  background-color: #e81c3c;
  color: #fff;
}
.trade-card .right-content {
  width: 60%;
}
.right-content img {
  height: 100%;
  width: 100%;
}
.right-content div {
  display: none;
}
.right-content .active {
  display: block;
  height: 100%;
}
footer {
  background: #242323;
  color: #fff;
  padding-top: 40px;
}
.main-footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.main-footer ul li {
  margin-bottom: 15px;
}
.main-footer ul li a {
  font-size: 14px;
}
.main-footer li a:hover {
  color: #e81c3c;
}
.footer-logo {
  margin-bottom: 30px;
  filter: grayscale(1);
}
h3.footer-head {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 25px;
}
.footer-about {
  width: 40%;
}
.footer-about p {
  font-size: 14px;
  color: #bebec0;
}
.footer-corporate-office {
  width: 15%;
}
.footer-corporate-office li img {
  width: 15px;
  margin-right: 10px;
}
.footer-registered-office {
  width: 20%;
}
.footer-registered-office ul {
  margin-bottom: 50px;
}
.social-links img {
  width: 23px;
  margin-right: 5px;
}

.footer-links {
  width: 15%;
}
.sub-footer {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  padding: 20px 0px;
  border-top: 1px solid rgb(255 255 255 / 30%);
  color: #fefefe;
}

.charmbar {
  position: fixed;
  right: -70px;
  width: 50px;
  top: 20%;
  background: #fff;
  padding: 15px 10px;
  text-align: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-transform: uppercase;
  font-size: 11px;
  transition: right 0.5s;
}
.charmbar.open {
  right: 0px;
}
.charm-toggle img {
  transition: transform 0.5s;
}
.charm-toggle img.open {
  transform: rotate(180deg);
}
.charm-content .list-item {
  padding: 10px 0px;
  border-bottom: 1px solid #eee;
}
.charm-content .list-item:last-child {
  border-bottom: 0px;
}
.charm-btn {
  position: absolute;
  top: 20%;
  left: -50%;
  padding: 10px;
  background: #e9354f;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0em 0 0.4em #0000001c;
}
.charm-btn img {
  vertical-align: middle;
}
@media (max-width: 600px) {
  html,
  body {
    overflow-x: hidden;
  }
  .mobile-only {
    display: block;
  }
  .desktop-only {
    display: none;
  }
  .app__container {
    padding: 0 20px;
  }

  .nav-sidebar {
    width: 70%;
    position: fixed;
    right: -75%;
    height: 100vh;
    background: #fff;
    top: 0;
    padding: 20px 0px 0px 20px;
    transition: right 1s;
  }
  .nav-sidebar.open {
    right: 0;
  }
  body.nav-open:before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 999;
    opacity: 0.6;
  }
  .nav-sidebar a {
    display: block;
    width: 100%;
    padding: 20px 0px;
    color: #000;
    font-size: 12px;
    font-weight: bold;
  }
  .header-btn-mutual {
    margin: 0px;
    padding: 0px;
  }
  .nav-sidebar .header-btn-mutual a {
    border: 1px solid #000;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 5px;
  }
  .header-btn-exchange select {
    margin: 20px 0px;
  }
  a.close-nav {
    position: absolute;
    top: -2%;
    left: 90%;
    font-size: 12px;
    font-weight: bold;
    font-family: "lato";
    opacity: 0.5;
  }

  .banner-slide.banner-slide-1 {
    background: url("../images/banner-1-mobile.png") no-repeat;
    background-size: 100% 100%;
  }
  .banner-slide.banner-slide-2 {
    background: url("../images/banner-2-mobile.png") no-repeat;
    background-size: 100% 100%;
  }
  .banner-content {
    text-align: center;
    top: 20%;
    width: 100%;
    left: 0;
    transform: unset;
  }
  p.main-head {
    font-size: 24px;
  }
  p.head {
    font-size: 24px;
  }
  p.sub-head {
    font-size: 12px;
  }
  ul.slick-dots {
    bottom: 25px;
    width: 100%;
    padding-left: 0px;
    text-align: center;
  }
  li.slick-active {
    width: 75px;
  }
  .slick-dots li.slick-active button:before {
    width: 75px;
  }
  .news {
    margin-top: 30px;
  }
  .news-cards {
    display: block;
  }
  .news-cards .slick-list {
    overflow: visible;
  }
  .news-card {
    width: 100%;
  }
  .slick-slide.slick-current.slick-center .news-card {
    transform: scale(1.1);
    transition: transform 0.5s;
    color: #fff;
    background-image: linear-gradient(135deg, #91ebcd, #515dd9);
    border: 0px;
    position: relative;
    z-index: 999;
  }
  .slick-slide.slick-current.slick-center .news-card p.card-head,
  .slick-slide.slick-current.slick-center .news-card p.card-subhead,
  .slick-slide.slick-current.slick-center .news-card p.card-view-more {
    color: #fff;
  }
  .slick-slide.slick-current.slick-center .news-card.circular:before {
    background-image: url(/images/circular-white.png);
  }
  .slick-slide.slick-current.slick-center .news-card.market-watch:before {
    background-image: url(/images/market-watch-white.png);
  }
  .slick-slide.slick-current.slick-center .news-card.bhav-copy:before {
    background-image: url(/images/bhav-copy-white.png);
  }
  .slick-slide.slick-current.slick-center .news-card.active-contracts:before {
    background-image: url(/images/active-contracts-white.png);
  }
  .slick-slide.slick-current.slick-center .news-card.top-gainers:before {
    background-image: url(/images/top-gainers-white.png);
  }
  .trade-card {
    flex-direction: column;
  }
  .trade-card .left-content {
    width: 100%;
    order: 2;
    padding: 20px 20px 40px 20px;
    box-sizing: border-box;
  }
  .trade-card .right-content {
    width: 100%;
    order: 1;
  }
  .main-footer {
    display: block;
  }
  .footer-about {
    width: 100%;
    margin-bottom: 30px;
  }
  .footer-corporate-office {
    width: 100%;
  }
  .footer-registered-office {
    width: 100%;
  }
  .footer-registered-office ul {
    margin-bottom: 0px;
  }
  .footer-links {
    width: 100%;
  }
  h3.footer-head {
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid;
    position: relative;
  }
  .footer-about h3.footer-head {
    border: 0px;
  }
  .footer-about h3.footer-head:after {
    content: "";
  }
  .footer-content {
    display: none;
  }
  .main-footer div h3:after {
    content: url("../images/accordion-plus.png");
    position: absolute;
    right: 0;
  }
  .main-footer div h3.active:after {
    content: url("../images/accordion-minus.png");
  }
  .sub-footer {
    display: block;
    border-top: 0px;
  }
  .sub-footer div {
    margin-bottom: 10px;
  }
}
